body.newstyle
{
	background-color: #f7f7f7;
}

body.newstyle .page-content .post.clearfix
{
	background-color: #FFF;
}

body.newstyle .thecontent
{
	font-variant: normal;
	background-color: #FFF;
}

body.newstyle .thecontent p {
    margin-bottom: 10px;
}


body.newstyle .thecontent h2
{
	line-height: 150%;
}

body.newstyle .widget,
body.newstyle.node-type-blog-real .b_block
{
	border: none;
	box-shadow: none;
	padding:10px
}

body.newstyle .page-content
{
	background-color: #f7f7f7;
}

body.newstyle #layout
{
	background-color: #f7f7f7;
}

body.newstyle .grid_9 .b_title
{
	display: none;
}

body.newstyle .b_title:after {
	background:none;
}

body.newstyle .grid_3 .b_title {
	height:40px;
	background: #e8e8e8;
}

body.newstyle .grid_3 .b_title h4 {
	background: #e8e8e8;
	font-size: 22px;
	padding: 8px 12px;
	font-variant: initial;
	text-transform:uppercase;
}

body.newstyle .grid_3 .b_block {
margin: 0 0 20px 0 !important;
}

/* Search block*/

body.newstyle #search-block-form--2 .form-actions .form-submit {
    background-color: black;
    background-image: url(../images/picto_magnifying_glass.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    margin: 0;
    position: absolute;
    text-indent: -9999px;
    height: 40px;
    width: 40px;
}

body.newstyle #search-block-form--2 input[type='text'] {
	width:241px;
	height:40px;
	background: #e8e8e8;
	color: #b3b3b3;
}

/* Tag Cloud */

body.newstyle .tagcloud a {
	background: white;
	font-size:16px !important;
	color: #b3b3b3;
	font-variant: initial;
	text-transform:uppercase;
	font-family: tahoma, regular;

}

body.newstyle .tagcloud a:hover {
	color: black !important;
}

body.newstyle #block-views-blog-block-1 h2{
	font-family: tahoma, bold;
	font-size: 16px;
   font-weight: bold;
}

/* blog node */

body.newstyle .precontentinhome {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/sites/all/themes/sevenmag/img/backgrounds/barcaback.jpg) no-repeat center center fixed;
    background-attachment: fixed;
}
body.newstyle .precontentinhome .field-name-field-banner img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    z-index: 0;
}


body.newstyle #block-views-blog-post-banner-block p, body.newstyle #block-views-blog-post-banner-block h2, body.newstyle.page-blogs #block-views-blog-block-2 .field-name-body .field-items .field-item p {
	font-variant: initial;
	color: white;
	font-family: tahoma, regular;
   text-align: center;
   font-size:16px;
}


body.newstyle.page-blogs #block-views-blog-block-2 h2 a {
	font-variant: initial;
	color: white;
	font-family: tahoma, regular;
	font-size:36px;
  	letter-spacing: 3px;
}


body.newstyle #block-views-blog-post-banner-block h2, body.newstyle.page-blogs #block-views-blog-block-2 h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: tahoma, bold;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

body.newstyle .field-name-field-banner-blog, body.newstyle.page-blogs #block-views-blog-block-2 .field-name-body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

body.newstyle #block-block-27 , body.newstyle #block-block-28{
	 margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    width: 155px;
    height: 32px;
    margin-bottom:100px;
}

body.newstyle.page-blogs #block-block-27, body.newstyle.page-blogs #block-block-28 {
    margin-bottom:50px;
    position: relative;
    z-index: 9999;
}

body.newstyle #block-block-27 ul, body.newstyle #block-block-28 ul  {
	text-align:center;
}

body.newstyle #block-block-27 ul li, body.newstyle #block-block-28 ul li {
	display:inline-block;
	margin-left:6px;
}

body.newstyle #block-block-27 ul li.twitter a, body.newstyle #block-block-28 ul li.twitter a {
   background-image: url(/sites/all/themes/sevenmag/images/twittericon.png);
}

body.newstyle #block-block-27 ul li.facebook a, body.newstyle #block-block-28 ul li.facebook a {
    background-image: url(/sites/all/themes/sevenmag/images/facebookicon.png);
}

body.newstyle #block-block-27 ul li.google a, body.newstyle #block-block-28 ul li.google a {
    background-image: url(/sites/all/themes/sevenmag/images/googleplusicon.png);
}

body.newstyle #block-block-27 ul li a , body.newstyle #block-block-28 ul li a {
    display: block;
    width: 32px;
    height: 32px;
    color: transparent;
    overflow: hidden;
    border: none;
    float: left;
    margin: 0 10px 0 0;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

body.newstyle #block-block-27 ul li a:hover, body.newstyle #block-block-27 ul li a:focus,
body.newstyle #block-block-28 ul li a:hover, body.newstyle #block-block-28 ul li a:focus {
	 color: transparent!important;
}

body.newstyle #block-views-about-author-blog-post-block-1 .field-name-ds-user-picture img {
border-radius: 50%;
 -moz-border-radius: 50%;
-webkit-border-radius: 50%;
-khtml-border-radius: 50%;
margin-right:25px;
}

body.newstyle.node-type-blog-real .field-name-post-date .field-items .field-item {float:right; font-size: 12px;
    margin-top: 40px; color: black;}
body.newstyle .view-about-author-blog-post .about-author {float:left; font-variant: initial; font-size: 12px;}
body.newstyle .view-about-author-blog-post .field-name-field-aboutme {
	width:85%; margin-top:10px; font-size: 14px;
}
body.newstyle .view-about-author-blog-post {
 margin-top: -84px;
}

body.newstyle .view-about-author-blog-post .field-name-field-fullname:before {
    content: "posted by ";
	font-size: 12px;
	color: #bbb;
    }

body.newstyle .view-about-author-blog-post .field-name-field-fullname {
	color: black;
    }

body.newstyle.node-type-blog-real .page-content, body.newstyle.page-blogs .page-content {
    margin: 0px 0;
    z-index: 9999;
    position: relative;
    padding-top: 25px;
}

@media only screen and (max-width: 1062px) {
	body.newstyle .view-about-author-blog-post .field-name-field-aboutme {
	width:80%;
}
}

@media only screen and (max-width: 908px) {
	body.newstyle .view-about-author-blog-post .field-name-field-aboutme {
	width:75%;
}
}

@media only screen and (max-width: 612px) {
	body.newstyle .view-about-author-blog-post .field-name-field-aboutme {
	width:70%;
}
}

@media only screen and (max-width: 548px) {
	body.newstyle .view-about-author-blog-post .field-name-field-aboutme {
	width:100%;}
	body.newstyle .view-about-author-blog-post .field-name-field-fullname {
	margin-top:10px;}
	body.newstyle .view-about-author-blog-post .about-author {float:none;}
}

/* previous/next blog post*/

body.newstyle .flippy a {
padding: 15px 0px;
    background-color: #e8e8e8;
	 color: black;
    text-transform: uppercase;
    font-variant: initial;
    font-family: tahoma;
    width: 200px;
    display: inline-block;
    text-align: center;
}

body.newstyle .flippy .empty {
padding: 15px 0px;
    background-color: #e8e8e8;
	 color: #aaa;
    text-transform: uppercase;
    font-variant: initial;
    font-family: tahoma;
    width: 200px;
    display: inline-block;
    text-align: center;
}

body.newstyle .flippy a:hover {
color:white !important;
background-color: #006a3b;
}

body.newstyle .flippy .next {
    float: right;
}

body.newstyle ul.flippy {
    margin-top: 20px;
}
body.newstyle ul.flippy li {
    margin: 0!important;
    padding: 0px;
    }


/* Top Post Block*/

body.newstyle .righter .widget {
	padding: 0px 0px;
	margin: 0 0 25px 0 !important;
}

body.newstyle #block-views-blog-block-1 h2{
	font-family: tahoma, bold;
	font-size: 14px;
   font-weight: bold;
   font-variant: initial;
   text-transform:uppercase;
   line-height: 16px;
   margin-top:3px;
}

body.newstyle #block-views-blog-block-1 .views-row {
    border-bottom: 0px;
    margin-bottom: 10px;
}

body.newstyle #block-views-blog-block-1 .field-name-field-fullname .field-items .field-item {
	font-variant: initial;
	color:#e8e8e8;
	font-weight:bold;
}

body.newstyle #block-views-blog-block-1 .field-name-field-fullname .field-items .field-item {
	font-variant: initial;
	color:#ccc;
	font-family:tahoma, regular;
	font-weight:bold;
	font-size: 11px;
   margin-top: -12px;
}

body.newstyle #block-views-blog-block-1 .field-name-field-fullname .field-items .field-item:before {
	content: "posted by ";
	color:#ccc;
	font-weight:400;
	font-family:tahoma, regular;
}


/*Simplenews block in blog*/

body.newstyle #block-simplenews-861 .b_title, #block-simplenews-861 .widget p,
#block-simplenews-861 label {
	display:none
}

body.newstyle #simplenews-block-form-861 .compact-form-wrapper {
	display:inline
}

body.newstyle #simplenews-block-form-861 .form-submit {
    height: 40px;
    padding-right: 21px;
    padding-left: 21px;
    text-transform: uppercase;
    font-weight: bold;
    background:black;
    margin-left: -4px;
 }

body.newstyle #simplenews-block-form-861 input[type='text']{
     height: 40px;
     background: #e8e8e8;
     border:0px;
     width: 159px;
 }

body.newstyle #simplenews-block-form-861 .compact-form-label {
    top: -2px;
    left: 10px;
    font-variant: initial;
}

/* Blogs page */

body.newstyle.page-blogs #block-views-blog-block-2 .field-name-node-link .field-items .field-item {
	text-align: center;
}

body.newstyle.page-blogs #block-views-blog-block-2 .field-name-title .field-items .field-item h2 {
	z-index:1;
	position:relative;
}
body.newstyle.page-blogs #block-views-blog-block-2 .field-name-body .field-items .field-item p {
	z-index:1;
	position:relative;
}
body.newstyle.page-blogs #block-views-blog-block-2 .field-name-node-link .field-items .field-item a {
	z-index:1;
	position:relative;
}

body.newstyle.page-blogs #block-views-blog-block-2 .field-name-node-link {
	margin-top:40px
}

body.newstyle.page-blogs #block-views-blog-block-2 .view-blog .views-row {
	border:0px;
}

body.newstyle.page-blogs .b_block {
	padding:0px;
	border:0px;
	border-top:0px;
	box-shadow: none;
}

body.newstyle.page-blogs .page-content .post.clearfix
{
	background-color: transparent;
}

body.newstyle.page-blogs .thecontent
{
	background-color: transparent;
}


body.newstyle.page-blogs .thecontent .view-blog .views-row {
    border-bottom: 0px;
    margin-bottom: 25px;
    padding: 30px 20px;
    background-color: white;}

body.newstyle.page-blogs .view-blog.view-display-id-page .field-name-title .field-items .field-item a {
	text-transform: uppercase;
	font-family: tahoma;
	font-weight: bold;
	font-size: 25px;
}

body.newstyle.page-blogs .field-name-body .field-items .field-item p {
	color: #b3b3b3;
	font-family: tahoma, bold;
}

body.newstyle.page-blogs .field-name-node-link .field-items .field-item a {
padding: 10px 0px;
    background-color: #008000;
	 color: white;
    text-transform: uppercase;
    font-variant: initial;
    font-family: tahoma;
    width: 200px;
    display: inline-block;
    text-align: center;
}


body.newstyle.page-blogs .field-name-node-link .field-items .field-item a:hover {
    background-color: #006a3b !important;
	 color: white !important;
}

body.newstyle.page-blogs .field-name-ds-user-picture img {
border-radius: 50%;
 -moz-border-radius: 50%;
-webkit-border-radius: 50%;
-khtml-border-radius: 50%;
background-color: white;
padding:8px;
margin-left: 15px;
margin-top: -10px;
position: absolute;
max-width: 8%;
}

body.newstyle.page-blogs .view-blog .about-author {float:left;}
body.newstyle.page-blogs .field-name-post-date .field-items .field-item {float:right; font-size:12px;}

body.newstyle.page-blogs .field-name-field-fullname .field-items .field-item:before {
	/*content: "posted by ";*/
	color:#ccc;
	font-weight:400;
	font-family:tahoma, regular;
}

body.newstyle.page-blogs .field-name-field-fullname .field-items .field-item {
	color:black;
	font-weight:bold;
	font-family:tahoma, regular;
	position: absolute;
	margin-left:12%;
	font-size:12px;
}

body.newstyle.page-blogs .field-name-field-banner .field-items .field-item img {
margin-top:5px
}

@media only screen and (max-width: 800px) {
body.newstyle.page-blogs .field-name-field-fullname .field-items .field-item {
	margin-left:14%;
}
}

@media only screen and (max-width: 640px) {
body.newstyle.page-blogs .field-name-field-fullname .field-items .field-item {
	margin-left:0%;
}
body.newstyle.page-blogs .field-name-ds-user-picture img {
	display:none
}

body.newstyle .thecontent h2 {
    line-height: 120%;
}

body.newstyle .flippy .next {
    float: none;
}

}

@media only screen and (max-width: 440px) {
body.newstyle.page-blogs .field-name-post-date .field-items .field-item {
	display:none
}

body.newstyle .flippy .next {
    float: none;
}

}

body.newstyle ul.pager li a, body.newstyle ul.pager li.pager-current {
    color: black;
    background: white;
}

body.newstyle ul.pager li a:active, body.newstyle ul.pager li.pager-current:active {
    color: white;
    background: black;
}

body.newstyle ul.pager li {
    margin-left: 10px!important;
}

body.newstyle ul.pager li.pager-current, body.newstyle ul.pager li a:hover{
	background:black;
	color:white !important;
}

/* Body blog */
body.newstyle .node-blog-real, body.newstyle.field-name-body{
    color: #000000;
}


