#filter_div{
    margin: 0 auto;
    width: 300px;
}
#filter_div input{    border: 1px solid #b5b6b5;}
#filter_div .goog-combobox-button{margin-left: 5px}
#filter_div .goog-combobox{background: none; border: none}